html,
body {
    overflow-x: hidden;
}

.barlow{
	font-family: "Barlow" !important;
}

.centralize{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bg-white{
	background-color: #fff !important;
}

.font-19{
	font-size: 19px;
}

.font-17{
	font-size: 17px;
}

.p-0{
	padding: 0;
}

.logo-login{
	margin-bottom: 4rem;
}

.mb-4{
	margin-bottom: 4rem;
}

.mb-2{
	margin-bottom: 2rem;
}

.mb-0{
	margin-bottom: 0;
}

.text-primary{
 	color: #3A2F77 !important;
}

.login-box{
	border: none;
}

.input-group{
	border: 2px solid #3A2F77;
	height: 5rem;
    border-radius: 5rem;
    overflow: hidden;
}

.inputs{
	/* height: 100%; */
	height: 5rem;
	border: 0;
}

.inputs:focus, .inputs:focus:active{
	border: none;
}

.forgot-password-link{
	margin: 1rem 0 4rem;
}

.btn-laranja{
	background: linear-gradient( 265.54deg,#ed5d30 4.11%,rgba(237,184,48,0) 408.98%) !important;
	border: none;
    border-radius: 4rem;
    padding: 1.5rem;
    width: 80%;
	margin-right: 10%;
}

.btn-voltar{
	background-color: #3A2F77 !important;
	color: #fff;
	border: none;
    border-radius: 4rem;
    padding: 1.5rem;
    width: 80%;
	margin-right: 10%;
}

@media (min-width: 498px) {
	.bg-fabrica-descontos{
		height: 70rem !important;
	}
}

.mb-mobile-4{
	margin-bottom: 4rem;
}

@media (min-width: 768px) {
	.btn-laranja{
		margin-right: 20%;
	}
	.btn-voltar{
		margin-right: 20%;
	}

	.imagem-fabrica{
		width: 100%;
		padding: 7%;
		height: 70vh !important;
		object-fit: contain;
	}

	.imagem-fabrica-2{
		width: auto !important;
		height: 45vh !important;
		object-fit: contain;
	}

	.h-90{
		/* height: 90vh; */
		height: 100vh;
	}
}

@media (min-width: 992px){
	.bg-fabrica-descontos{
		position: absolute;
		width: 50vw !important;
		height: 100vh !important;
	}

	.mb-mobile-4{
		margin-bottom: 0;
	}
}

.fabrica-descontos{
	position: relative;
}

.bg-fabrica-descontos{
	height: 45rem;
	text-align: center;
	background-color: #21243c;
	background-repeat: no-repeat;
    background-size: cover;
	width: 100%;
	display: flex;
	flex-direction: column;
    justify-content: space-around;
}


.imagem-fabrica{
	width: 100%;
	padding: 7%;
    height: auto;
}

.imagem-fabrica-2{
	width: 100%;
	padding: 3rem;
	height: auto;
}

.btn-saiba-como{
	background-color: #fff;
	color: #180F41;
	padding: 1.5rem 3rem;
	border-radius: 4rem;
}

.btn-saiba-como:hover, .btn-saiba-como:focus, .btn-saiba-como:focus{
	text-decoration: none;
	color: #180F41;
}

.saiba-como{
    text-align: center;
}

footer{
	margin-top: 2rem;
	margin-bottom: 2rem;
    width: 100%;
}

.teste__gratis{
	padding: 10%;
	text-align: left;
}

.teste__gratis p{
	margin-bottom: 20px;
}

.teste__gratis-title{
	font-size: 55px;
	font-weight: 700;
	color: #188AEC;
	line-height: 65px;
}

.teste__gratis-title span{
	font-weight: 700;
	color: #FFFFFF;
}

.teste__gratis-text {
	line-height: 31px;
	font-size: 21px;
	color: #FFFFFF;
}

.teste__gratis-btn{
	text-decoration: none;
	padding: 10px 20px;
	background: #188AEC;
	border: 1px solid #188AEC;
	border-radius: 34px;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	display: inline-block;
}

.teste__gratis-btn:hover{
	text-decoration: none;
	color: #fff;
	opacity: 0.9;
}


@media (max-width: 768px) {
	.teste__gratis-btn{
		text-align: center;
		margin: 0 5%;
		width: 90%;
	}
}

@media (max-width: 520px) {
	.teste__gratis-btn{
		width: 100%;
		margin: 0;
		font-size: 16px;
	}

	.teste__gratis-title {
		font-size: 40px;
		line-height: 43px;
	}
}


